@model List<LogisticGroup>

@{
    ViewBag.Title = "Tìm kiếm hãng tàu";
    var query = ViewBag.Query;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col">
            <div class="d-flex justify-content-between mb-4">
                <div class="w-75">
                    @using (Html.BeginForm("Index","Tracking", FormMethod.Get, new { @class = "d-flex flex-column" }))
                    {
                        <p class="text-center fw-bold" style="font-family: 'Montserrat'; font-size: 31px;">Nhập tên hoặc tên viết tắt của hãng tàu</p>
                        <div class="input-group d-flex flex-row justify-content-between">
                            <input type="text" name="query" class="form-control search-input col-9" value="@query" />
                            <button type="submit" class="btn btn-search col-2">SEARCH</button>
                        </div>
                    }
                </div>
                <div class="route-icon col-2">
                    <img src="~/content/images/route-icon.png" class="w-100" alt="Shipping routes" />
                </div>
            </div>

            <div class="shipping-grid">
                @{
                    var rows = (int)Math.Ceiling(Model.Count / 6.0);
                    for (int i = 0; i < rows; i++)
                    {
                        <div class="row shipping-row">
                            @foreach (var company in Model.Skip(i * 6).Take(6))
                            {
                                <div class="col-md-2 shipping-company">
                                    <div class="logo-container">
                                        <img src="@company.LogoUrl" alt="@company.Name" class="company-logo" />
                                    </div>
                                    <div class="company-code">
                                        <a href="#" class="shipping-link">@company.Code</a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>