/* Shipping Search Styles */
body {
    background-image:none;
}

.container {
    max-width: 1200px;
}

.search-container {
    width: 100%;
}

.search-input {
    border: 1px solid #ccc;
    padding: 10px;
    height: 50px;
    width: 400px;
}

.btn-search {
    background-color: #1b2838;
    color: white;
    height: 50px;
    padding: 0 30px;
    font-weight: bold;
}

.route-icon img {
    height: 80px;
}