<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Logistic_Website</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Logistic_Website.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<header>
		<!-- Top Navigation Bar -->
		<div class="top-nav">
			<div class="container" style="display: flex;">
				<a href="#"><i class="fa-solid fa-house"></i> Home</a>
				<a href="#"><i class="fa-solid fa-user"></i> Login/Register</a>
				<a href="#"><i class="fa-solid fa-shield"></i> Bảo mật</a>
				<a href="#"><i class="fa-solid fa-location-dot"></i> Hải Phòng</a>
			</div>
		</div>

		<!-- Main Navigation -->
		<div class="main-nav">
			<div class="container" style="display: flex; align-items: center;">
				<div class="logo">
				<a asp-controller="Home" asp-action="Index">
					<img src="~/content/images/main-logo.png" alt="Vchain" />
					</a>
				</div>
				<div class="main-menu col-10">
					<a asp-controller="Home" asp-action="Index" onclick="setActive(this)">TRANG CHỦ</a>
					<a href="#" onclick="setActive(this)">TRA CỨU BIỂU PHÍ</a>
					<a asp-controller="Tracking" asp-action="Index" onclick="setActive(this)">TRACKING</a>
					<a href="#" onclick="setActive(this)">LOGISTICS CIRCLE</a>
					<a href="#" onclick="setActive(this)">GÓP Ý</a>
				</div>
			</div>
		</div>
	</header>
	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer>
		<!-- Footer -->
		<div class="footer">
			<div class="container">
				<div class="footer-content">
					<h3>WELCOME TO V-CHAIN</h3>
					<p>Website V-Chain đem đến cho bạn trải nghiệm dịch vụ Logistics tiện ích, tiết kiệm thời gian.</p>
					<p>Website hỗ trợ tra cứu lịch tàu, biểu phí và theo dõi hành trình của hàng hóa.</p>
				</div>

				<div class="footer-links">
					<div>
						<i class="fa-regular fa-copyright"></i> V-Chain
					</div>
					<div>
						<a href="#">Chính sách bảo mật</a> | <a href="#">Liên hệ</a>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script>
	function setActive(link) {
		// Loại bỏ class 'active' từ tất cả các liên kết
		var links = document.querySelectorAll('.main-menu a');
		links.forEach(function (item) {
			item.classList.remove('active');
		});

		// Thêm class 'active' vào liên kết vừa nhấn
		link.classList.add('active');
	}
</script>
