<div class="w-100 px-4">
    <div class="d-flex" style="gap: 20px; height:60px;">
        <div class="position-relative w-100">
            <input type="text"
                   class="form-control rounded-pill px-4 pe-5 h-100"
                   placeholder="Search..." />

            <img src="~/content/images/search-icon.png"
                 alt="Search"
                 style="position: absolute; top: 50%; right: 30px; transform: translateY(-50%); width:36px; height: 36px;" />
        </div>

        <button class="btn text-light rounded-pill px-4 fw-bold fs-6" style="width:15%; background-color:#1a2737">
            Search
        </button>
    </div>

    <div class="w-100 py-3 d-flex justify-content-between align-items-center">
        <img src="~/content/images/hot.png"
             alt="Search"
             style="width:36px; height: 36px;" />

        <p class="fs-6 text-decoration-underline mb-0">MSC</p>
        <p class="fs-6 text-decoration-underline mb-0">Lịch tàu</p>
        <p class="fs-6 text-decoration-underline mb-0">Drone giao hàng</p>
        <p class="fs-6 text-decoration-underline mb-0">Chuyển đổi số</p>
        <p class="fs-6 text-decoration-underline mb-0">Logistics xanh</p>
    </div>

    <div class="w-100 px-3" style="background-color:#f1f1f1">
        <div class="pt-1 d-flex flex-row align-items-center" style="gap:20px">
            <div class="position-relative d-inline-block" style="width: 67px; height: 67px;">
                <img src="~/content/images/AdminAvatar.png"
                     alt="Main Logo"
                     class="rounded-circle w-100 h-100" />

                <img src="~/content/images/plus.png"
                     alt="Plus Icon"
                     style="position: absolute; bottom: 0; right: 0; width: 16px; height: 16px;" />
            </div>

            <div>
                <span class="fs-6 fw-bold">Admin</span>
                <br />
                <span style="font-size:0.875rem;">Founder of V-chain</span>
            </div>
        </div>
        <div class="pt-1 px-5 d-flex flex-column">
            <span class="fw-bold fs-5 " style="color:#123972">
                MSC Mất Container Trong Cơn Bão Ngoài Khơi Bồ Đào Nha
            </span>
            <span style="font-size:0.8125rem;">
                Một tàu container của MSC đã mất ít nhất 15 container trong cơn bão Martinho ngoài khơi Bồ Đào Nha. Con tàu buộc phải cập cảng Vigo, Tây Ban Nha để xử lý sự cố. Tìm hiểu chi tiết về vụ việc và tác động đối với ngành vận tải biển.
            </span>
            <img src="~/content/images/storm.png"/>
        </div>
    </div>
</div>
