.selectable-btn {
    background-color: #f0f0f0;
    color: black;
    font-weight: normal;
    border: 1px solid black;
}

    .selectable-btn.active {
        background-color: #1a2737;
        color: white;
        font-weight: bold;
        border: none;
    }
